<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product-styles.css">
    <link rel="stylesheet" href="/css/Product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item_list">
                <li class="main-header__items"><a href="/">Shop</a></li>
                <li class="main-header__items"><a href="/add-product">Add Product</a></li>
                <li class="main-header__items"><a href="/contactUs">Contact us</a></li>
                <li class="main-header__items"><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="login-form" action="/add-product" method="post">
            <div class="form-control">
                <label for="title">Product Title: </label>
                <input type="text" name="title" id="title" required>
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL: </label>
                <input type="text" name="imageUrl" id="imageUrl" required>
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>
