<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item_list">
                <li class="main-header__items"><a href="/">Shop</a></li>
                <li class="main-header__items"><a href="/add-product">Add Product</a></li>
                <li class="main-header__items"><a href="/contactUs">Contact us</a></li>
                <li class="main-header__items"><a href="/cart">Cart</a></li>
                <li class="main-header__items"><a href="/adminOnly">Admin Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Form Successfully Filled</h1>
        
    </main>
</body>
</html>
